<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Angular Basics</title>
  <script type="text/javascript" src="vendors/angular.min.js"></script>
  <script type="text/javascript" src="scripts/client.js"></script>
  <link rel="stylesheet" type="text/css" href="styles/bootstrap.min.css">
</head>
<body>
  <main ng-app="GithubListApp" ng-controller="GithubUserController as vm">
    <section class="container">
      <h1>Github User's Angular List</h1>
      <h3>Add a new person</h3>
      <form class="col-md-12">
        <div class="form-group col-md-6">
          <label for="firstName">First Name</label>
          <input type="text" name="firstName" class="form-control" ng-model="vm.newPerson.firstName" placeholder="First Name"/>

        <!-- What other fields do we need to ask for in order to get the information we need? -->
          <label for="lastName">Last Name</label>
          <input type="text" name="lastName" class="form-control" ng-model="vm.newPerson.lastName" placeholder="Last Name"/>

          <label for="git_username">Github Username</label>
          <input type="text" name="git_username" class="form-control" ng-model="vm.newPerson.git_username" placeholder="Github Username"/>

          <label for="shoutout">Shoutout</label>
          <input type="text" name="shoutout" class="form-control" ng-model="vm.newPerson.shoutout" placeholder="Shoutout"/>
          <button class="btn btn-primary" ng-click="vm.createPerson()">Submit</button>
        </div>
      </form>
    </section>
    <section class="container">
      <h3>Class List</h3>
      <ul class="list-group">
        <li class="list-group-item" ng-repeat="person in vm.people">
            <a target="_blank" ng-href="https://github.com/{{person.git_username}}">
          <!-- What needs to be repeated? -->
          <!-- TODO: Create a list item for everyone in the array -->
          <!-- include the other parameters for the person -->

          {{person.firstName}} {{person.lastName}} - {{person.shoutout}}
          </a>
        </li>
      </ul>
    </section>
  </main>
</body>
</html>
